body {
    background: white !important;
    color: #1483e0;
}

nav {
    background-color: white;
}

main,
#main {
    color: white;
    /* background-color: #1483e0; */
    background: linear-gradient(to bottom right, rgb(5, 103, 194), rgb(97, 175, 248));


}

footer {
    font-size: small !important;
    /* text-align: center; */
    font-weight: 512;
}

.vertical-center {
    min-height: 90%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#spinner {
    display: none;
}

#modalBody {
    font-size: smaller;
}

#modalLabel {
    font-size: medium;
    text-align: left;
}

.progress-bar {
    background-color: rgb(12, 231, 129);
}

#output {
    height: auto;
    min-height: 100vh;
}


#pdf {
    height: auto;
    min-height: 100vh;
}
